
<div class="row">
  <h2 class="mb-4">Facturación</h2>
    <app-formulario-cart [listaProductos$]="(productos$ | async)!" ></app-formulario-cart>
  <!-- Lista de Productos -->
 
    <div class="col-md-8">
        <app-contenido-cart ></app-contenido-cart>
    </div>

    <!-- Resumen del Total -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Resumen</h5>
          <p class="card-text">Fecha: {{datosFactura().fecha}}</p>
          <p class="card-text">cliente: {{datosFactura().cliente}}</p>
          
          <p class="card-text">Forma de pago: {{datosFactura().tipo_pago}}</p>
          <p class="card-text">Forma de entrega: {{datosFactura().tipo_entrega}}</p>

          <p class="card-text">Total : {{totalVentaSinDescuento()}}</p>
          <p class="card-text">Descuento: -{{totalDescuentoVenta()}}</p>
          <p class="card-text">Total IVA: {{totalIvaVenta()}}</p>
          <p class="card-text">Total neto: {{totalVenta()}}</p>
          
          <button class="btn btn-primary btn-block" (click)="facturar()" type="button">Pagar</button>
        </div>
      </div>
    </div>
  </div>






