
<div class="row">
  <h2 class="mb-4">Facturación</h2>
    <app-formulario-cart [listaProductos$]="(productos$ | async)!" ></app-formulario-cart>
  <!-- Lista de Productos -->
 
    <div class="col-md-8">
        <app-contenido-cart ></app-contenido-cart>
    </div>

    <!-- Resumen del Total -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <table >
            <thead>
              <tr colspan="2"><h5 class="card-title">Resumen</h5></tr>
            </thead>
            <tbody>
            <tr>
              <td><p class="card-text">Fecha </p></td>
              <td>{{datosFactura().fecha}}</td>
            </tr>
            <tr>
              <td><p class="card-text">cliente:</p></td>
              <td>{{datosFactura().cliente}}</td>
            </tr>
            <tr>
              <td><p class="card-text">Forma de pago: </p></td>
              <td>{{datosFactura().tipo_pago}}</td>
            </tr>
            <tr>
              <td><p class="card-text">Forma de entrega: </p></td>
              <td>{{datosFactura().tipo_entrega}}</td>
            </tr>
            <tr>
              <td><p class="card-text">Total : </p></td>
              <td>${{totalVentaSinDescuento() | thousandsPipe}}</td>
            </tr>
            <tr>
              <td><p class="card-text">Descuento: </p></td>
              <td>${{totalDescuentoVenta() | thousandsPipe}}</td>
            </tr>
            <tr>
              <td><p class="card-text">Total IVA: </p></td>
              <td>${{totalIvaVenta() | thousandsPipe}}</td>
            </tr>
            <tr>
              <td><p class="card-text">Total neto: </p></td>
              <td>${{totalVenta() | thousandsPipe}}</td>
            </tr>
            <tr>
              <td colspan="2"><button class="btn btn-primary btn-block" (click)="facturar()" type="button">Pagar</button></td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>






