<div class="container text-start">
  <div class="card border-0">
    <div class="card-body mt-0 pt-0">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group">
            <form  (ngSubmit)="gestionar()">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  [class.is-invalid]="formInvalid()" 
                  placeholder="Buscar..."
                  list="listaProductos"
                  name="filtro"
                  [(ngModel)]="filtro"
                  placeholder="Buscar Productos"
                  autocomplete="off"
                />
                @if (filtro) {
                  <datalist id="listaProductos">
                    @if (listaProductos$(); as productos){
                      @for (producto of productos ; track $index) {
                        <option [value]="producto.id" >
                          {{producto.nombre}} ${{producto.precio_base}}
                          [{{producto.enStock}}]
                        </option>
                      }
                    }

                  </datalist>
                }

                <div id="ErrorEndDay" class="invalid-feedback m-0 p-0">
                  <ul>
                    <li *ngIf="formInvalid()">Solo se puede buscar con ref</li>

                  </ul>
                </div>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="lni lni-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="btn-group">
            
            <button (click)="openModal('Modulo de clientes','',0)" type="button" class="btn btn-primary">Cliente</button>
            <button (click)="openModal('Modulo de formas de pago','',1)"type="button" class="btn btn-primary">Factura</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

            
<app-modal [accionAlGuardar]="accionAlGuardar" controlado>
  @switch (swicthModal()) {
    @case (0) {
      <p>
        Aqui se inserta el modulo para buscar Clientes y se actualiza 
        mediante un servicio
      </p>
    }
    @case (1) {
      <p>
        Aqui se inserta el modulo para actualizar el tipo de pago y el  
        tipo de servicio, tambien se puede guardar la info mediante un servicio
      </p>
    }
  }
</app-modal>